*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: black; */
}


.conteiner-card{
    height: 480px;
    width: 300px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top:100px;
    background-color: white;
  
}
.parg{
    font-family: sans-serif;
    margin-top: 15px;
    padding: 0 8px;
    margin-left: 5px;
}
.imag{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.imag img{
    border-radius: 20px;
}
.imag img:hover{
    scale: 1.03;
    transition: all 1s ease-out;
}

#cercul{
    border-radius: 50%;
    background-color: rgb(211 177 154);
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 20px;
    margin-top: -80px;
    position: absolute;
    margin-left: 230px;
    border: 5px solid rgb(255, 255, 255);
}
#cercul span{
    rotate:313deg;
}
h3{
    font-family: sans-serif;
    margin-left: 18px;
    margin-top: -15px;
}
p{
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 9px;
    font-size: 0.9rem;
    color: gray;
}
.butt{
    margin-top: 18px;
    margin-left: 18px;
}
.butt .but1{
    background-color: #d3b19a;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
}
.butt .but2{
    background-color: #70b3b1;
    margin-left: 8px;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
}

